.container{
    margin: auto;
    display: block;
    margin-top: 50px;
    
    

}
.meme_img{
    width:400px;
    max-width: 450px;
    max-height: 300px;
    box-shadow: 0px 0px 10px black;
    margin: auto;
    margin-top: 50px;
    display: block;
}

.button{
    
    margin-top: 10px;
    display: block;
    width: 80px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.container .btn_create{
    background-color: white;
    
}

.container .btn_create:hover{
    background-color: rgb(238, 149, 149);
    
}

.container .btn_skip{
    background-color: rgb(207 173 234);
  
}

.container .btn_skip:hover{
    background-color: rgb(226, 226, 226);
  
}
.container .input{
  box-sizing: border-box;
  display: block;
  padding: 10px;
  width: 250px;
  margin: auto;
  margin-top: 15px;
  border-radius: 5px;
    
}